/* leetcode/problemset/all */

#announcement.container {
	display: none !important;
}

/* Remove hr */
.question-filter-base .question-filter-hr {
	display: none;
}

/* Filter options */
.filter-item.open .filter-title {
	color: var(--link-strong) !important;
}
.filter-title:hover {
	color: var(--link-hover) !important;
}
.filter-dropdown-menu-items {
	background-color: var(--bg-color) !important;
	border: var(--border) !important;
}

.filter-dropdown-menu-item:hover {
	background-color: var(--bg-med2-color) !important;
}

.filter-dropdown-menu.dropdown-menu {
	background-color: var(--bg-color) !important;
}

.tag-filter-tabs {
	background-color: var(--bg-med2-color) !important;
}

/* PICK ONE button */
.btn.btn-default {
	background-color: var(--btn-dark) !important;
	color: var(--font-medium) !important;
}
.btn.btn-default:hover {
	background-color: var(--btn-dark-hover) !important;
	color: var(--link-hover) !important;
}
/* PICK ONE button ends */

/* YOUR Progress side panel */
.sidebar-title {
	color: var(--font-medium) !important;
}
/* Session button */
.list-group-item.session-select {
	background-color: var(--bg-med3-color) !important;
	color: var(--font-medium) !important;
}

.progress-panel-base .session-manager-btn button.dropdown-toggle {
	background-color: var(--bg-med4-color) !important;
	color: var(--font-medium) !important;
}
.session-manager-btn .btn.btn-default {
	background-color: var(--btn-dark) !important;
	color: var(--bg-color) !important;
}
/* Session button ends*/

/* TOP Hits */
.list-group-item {
	background-color: var(--bg-med2-color) !important;
}
.list-group-item > a {
	color: var(--font-strong) !important;
}
.blog-sidebar #list-card-app .list-group-item:hover {
	background: var(--bg-med1-color) !important;
	color: var(--link-hover) !important;
}
/* Pie Chart */
#highcharts-u5aax1e-0 {
	background-color: var(--bg-med1-color) !important;
}

/* Pie chart numbers */
.progress-panel-base > ul > li .progress-status {
	background: var(--bg-med2-color) !important;
}
.progress-panel-base > ul li.list-group-item.chart-elem {
	background-color: var(--bg-med2-color) !important;
}

/* Coins */
.list-group-item.points-info {
	background-color: var(--bg-med1-color) !important;
}
.progress-panel-base > ul li.list-group-item.points-info .info-value {
	color: var(--font-medium) !important;
}
/* YOUR Progress side panel ends*/

/* form input */
.form-control {
	background: var(--form-input-bg) !important;
	color: var(--form-input-fg) !important;
}
/* form input end*/

/* problemset question */
.table-responsive.question-list-table tbody tr:nth-of-type(odd) {
	background: var(--bg-color) !important;
}
.table-responsive.question-list-table tbody.reactable-data tr:hover {
	background: var(--hover-color) !important;
}
.table-responsive.question-list-table tbody.reactable-data tr:hover td a {
	color: var(--link-hover) !important;
}
/* problemset question ends */

/* Right Side tags */

.tags.tags-fade .btn.btn-default {
	background-color: var(--btn-dark) !important;
}
.tags.tags-fade .btn.btn-default span {
	color: var(--font-medium) !important;
}

.tags.tags-fade .btn.btn-default:hover span {
	color: var(--link-hover) !important;
}
/* Right Side tags ends*/

/* Pagination */
.reactable-previous-page,
.reactable-next-page,
.reactable-page-button:not(.reactable-current-page) {
	background-color: var(--btn-dark) !important;
	color: var(--font-medium) !important;
}

/* New Layout changes */

/* Navbar */
nav {
	background-color: var(--bg-med1-color) !important;
}
.text-label-1,
.text-label-2,
.text-label-3 {
	color: var(--font-medium) !important;
}

.text-label-4 {
	color: var(--font-light) !important;
}

/* expand button */
span.bg-gradient-to-l {
	background-image: linear-gradient(to right, var(--bg-color), var(--bg-med3-color));
}
span.bg-paper {
	background-color: var(--bg-med3-color) !important;
}

/* Problem table list */

a > div {
	background-color: var(--bg-med2-color) !important;
}

input {
	background-color: var(--bg-med3-color) !important;
	color: var(--font-medium) !important;
}
input::placeholder {
	color: var(--font-light) !important;
}

.ant-table-thead > tr > th,
.ant-table-thead th.ant-table-column-has-sorters {
	color: var(--font-medium) !important;
}
.even\:bg-overlay-3:nth-child(2n) {
	--tw-bg-opacity: 1;
	background-color: var(--bg-med2-color) !important;
	color: var(--font-medium) !important;
}

.odd\:bg-overlay-1:nth-child(odd) {
	--tw-bg-opacity: 1;
	background-color: var(--bg-med3-color) !important;
	color: var(--font-medium) !important;
}

/* pagination */
button.bg-paper {
	background-color: var(--btn-dark) !important;
}

/* Right side cards */
.bg-overlay-2,
.bg-overlay-3,
.bg-overlay-4 {
	background-color: var(--bg-med2-color) !important;
}

footer {
	background-color: var(--bg-med1-color) !important;
}
