.container__2Jyj {
	background: var(--bg-color);
}

.right-wrapper__3rVj {
	background: unset !important;
}

.action__2DMr {
	background: unset !important;
}

.notification-category__2a96 {
	background-color: var(--bg-med3-color) !important;
}
