#store-app {
	background-color: var(--bg-color) !important;
}

.store-item-base__850f {
	background-color: var(--bg-med2-color) !important;
}

#footer-root {
	background-color: var(--bg-color) !important;
}
