/* submission tab of a problem
	shows the list of previously submitted attempt
*/
.table-striped > tbody > tr:nth-of-type(odd) {
	background-color: var(--bg-med1-color) !important;
}
.table-hover > tbody > tr:hover td {
	background-color: var(--bg-med3-color) !important;
}

.pager .disabled > a,
.pager .disabled > a:focus,
.pager .disabled > a:hover,
.pager .disabled > span {
	color: var(--font-medium) !important;
	background-color: var(--btn-disabled) !important;
}

.pager li > a,
.pager li > span {
	background-color: var(--btn-dark) !important;
	color: var(--font-strong) !important;
}

/* submission detail page for this attempt
	with visualization for time and space ranking
*/
#status {
	background-color: unset !important;
}
.ace-tm {
	background-color: var(--bg-color) !important;
	color: var(--font-strong) !important;
}

.ace-tm .ace_gutter {
	background-color: var(--bg-med2-color) !important;
	color: var(--font-highlight) !important;
}

/* sample submission modal */
.modal-content {
	background-color: var(--bg-med2-color) !important;
}

.modal-content .close {
	color: var(--font-strong) !important;
}

.modal-header {
	border-bottom: unset !important;
}
.modal-content pre {
	border: unset !important;
	background-color: var(--bg-med2-color) !important;
}
